@import "tailwindcss";
@source "../";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-brand-50: #f0f3ff;
  --color-brand-100: #e1e7ff;
  --color-brand-200: #cbd5ff;
  --color-brand-500: #021359;
  --color-brand-600: #010c44;
  --color-brand-700: #010830;
  --color-brand-800: #000524;
  --color-brand-900: #000317;

  --color-accent-50: #fcfdf5;
  --color-accent-100: #f6fae1;
  --color-accent-200: #eef5c6;
  --color-accent-400: #e8f4ab;
  --color-accent-500: #E2F099;
  --color-accent-600: #c5d371;
  --color-accent-700: #a3af4f;
  --color-accent-900: #5e6624;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;
    --card: #ffffff;
    --card-foreground: #020817;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --primary: #10b981;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #10b981;
    --radius: 0.75rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #020617;
      --foreground: #f8fafc;
      --card: #0f172a;
      --card-foreground: #f8fafc;
      --popover: #0f172a;
      --popover-foreground: #f8fafc;
      --primary: #10b981;
      --primary-foreground: #f8fafc;
      --secondary: #1e293b;
      --secondary-foreground: #f8fafc;
      --muted: #1e293b;
      --muted-foreground: #94a3b8;
      --accent: #1e293b;
      --accent-foreground: #f8fafc;
      --destructive: #7f1d1d;
      --destructive-foreground: #f8fafc;
      --border: #1e293b;
      --input: #1e293b;
      --ring: #10b981;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

